@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #08125c!important;
  color: black!important;

}

code {
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'Poppins', sans-serif;
}